@model Order

<h2>
    Checkout out now
</h2>
<p>
    Please Enter Your Details, and we'll ship your goods right away
</p>
<div asp-validation-summary="All" class="text-danger"></div>
<form method="Post" asp-action="Checkout">
    <h3>Ship</h3>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name"  class="form-control"/>
    </div>
    <h3>Address</h3>
    <div class="form-group">
        <label asp-for="Line1"></label>
        <input asp-for="Line1" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Line2"></label>
        <input asp-for="Line2" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Line3"></label>
        <input asp-for="Line3" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="City"></label>
        <input asp-for="City" class="form-control" />
    </div>
    <div class="form-group">
    <label asp-for="State"></label>
    <input asp-for="State"  class="form-control"/>
    </div>
    <div class="form-group">
    <label asp-for="Country"></label>
    <input asp-for="Country"  class="form-control"/>
    </div>
    <div class="checkbox">
        <label>
            <input asp-for="GiftWrap"/>Gift Wrap
        </label>
    </div>
    <div class="text-center">
        <input class="btn btn-primary"  value ="Complete Order" type="submit"/>
    </div>
</form>