@using PartInvite.Models
@{
    Layout = null;
}
@model IEnumerable<GuestResponse>
<!DOCTYPE html>
<html>
<head>
    <title>
        Coming
    </title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body class="text-center p-2">
    <h2 class="text-center"> Here is the list of People Coming to the Party</h2>
    <table class="table table-bordered table-striped m-2 table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            @foreach(GuestResponse response in Model)
            {
                <tr>
                    <td>@response.Name</td>
                    <td>@response.Email</td>
                    <td>@response.Phone</td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="RsvpForm">Rsvp Now</a>
</body>
</html>