@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>
            Index
        </title>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <div class="text-center">
            <h3>
            We're Going to have an Exciting party
            </h3> 
            <h4>
                And You Are Invited!
            </h4>
            <a asp-action="RsvpForm" class="btn btn-primary">Rsvp Now</a>
        </div>
        
    </body>
</html>
