@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>
            Index
        </title>
    </head>
    <body>
        <div>
            <div>
                We're Going to have an Exciting party <br />
                {To do : sell it better , Add Pictures}
            </div>
        </div>
        <a asp-action="RsvpForm">Rsvp Now</a>
    </body>
</html>
